// Sizes
$space = 8px
$spaceX1 = $space * 1
$spaceX2 = $space * 2
$spaceX3 = $space * 3
$spaceX4 = $space * 4
$spaceX5 = $space * 5

// Colors
$color-black = #222
$color-gray = #ccc
$color-info = #bb0
$color-error = #a77
$color-success = #7a7
